@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

body, html{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #7e7e7e; 
    color: #333; /* Cor do texto principal */
}

button{
    color: white;
    padding: 14px 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.1rem;
    margin: 8px 0;
    cursor: pointer;
    background-color: #312f2e; 
    border: 2px solid #272626;
    border-radius: 10px;
}

button:hover {
    background-color: #444241; /* Cor do fundo quando o botão é hover */
    color: white;
    border: 2px solid white;
    transition: .5s;
}

#btn_sair{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #3b3938; 
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    border: 2px solid white;
}

#btn_more{
    background-color: rgba(255, 255, 255, 0.075);
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    z-index: 999;
}

#inputPesquisa{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.1rem;
    border-radius : 10px;
    height: 30px;
    border: 2px solid #272626; 
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    outline: none;
}

#select{
    color: #333;
    padding: 14px 20px;
    margin: 0 auto;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid #2e2d2c; 
    border-radius: 10px;
}

#select option{
    background-color: white;
    color: black;
    border: 2px solid #3a3937; 
}

@media screen and (max-width: 767px){
    #myContainer {
        grid-template-columns: auto;
    }
    #btns{
        display: none;
    }
    #select{
        display: flex;
    }
}

@media screen and (min-width: 768px){
    #myContainer {
        grid-template-columns: auto auto;
    }
    #btns{
        display: flex;
    }
    #select{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    #myContainer {
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1300px){
    #myContainer {
        grid-template-columns: auto auto auto auto auto; /* 5 colunas em telas grandes */
    }
}
